extends layout

block content
  
  h1= title
  p Bienvenue a #{title}

  p Vous trouverez ici une liste des maps et des brawlers du jeux Brawl star 
  p 
  p Vous pouvez également vous créer un compte pour pouvoir ajouter vos meilleures teams pour les différentes maps disponible