nav.navbar.navbar-default
  .container-fluid
    ul.nav.navbar-nav  
      if !session 
        li 
          a(href="/").navbar-brand 
            img(src="https://i.pinimg.com/736x/1b/34/ea/1b34ea764ff65705ac8306571b0fd8f6.jpg", height=50)
        li 
          a(href="/maps") maps
        li
          a(href="/brawlers") brawlers
        li
          a(href="/register") Register
      else
        li 
          a(href="/").navbar-brand 
            img(src="https://i.pinimg.com/736x/1b/34/ea/1b34ea764ff65705ac8306571b0fd8f6.jpg", height=50)
        li
            a(href="/maps") maps
        li
            a(href="/brawlers") brawlers
        li
            a(href="/teams") teams
        li
            a(href="/account") profil
      li
        a(href=session ? '/logout' : '/login')= session ? 'Logout' : 'Login'
