extends ../layout

block content

    h1 teams

    a(href='/teams/add') New team
        
    h2 Liste de teams

    table.table
        thead
            tr
                th Titre
                th Compo
        tbody
            if count > 0
                each team in teams
                    tr
                        td
                            a(href='/teams/' + team.id)= team.title
                        td 
                            team.map

