extends ../layout

block content

    h1= team.title

    table.table
        thead
            tr
                th Brawlers
                th 
        tbody
            each val in [0,1,2]
                tr
                    td= brawlers[val].nom
                    td
                        img(src= brawlers[val].image, height=100)

    br
    form(action='/teams/' + team.id + '?_method=DELETE', method='POST')
      button.btn.btn-default Delete
    br
    a(href='/teams/' + team.id + '/edit') 
      button.btn.btn-default Edit