extends ../layout

block content
    h1 Login

    form(action='/login', method='POST')
      .form-group
        label(for='username') Username
        input.form-control#username(type='text', name='username')
      .form-group
        label(for='password') Password
        input.form-control#username(type='password', name='password')
      input.btn.btn-default(type='submit', value='Login')
